.social-icons{
    color: #fff;
}
.social-icons:hover{
    color: #000;
}
#home{
background: linear-gradient(136deg,#3fa0d1, #55b1cf); /*linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200% no-repeat rgb(255, 255, 255);
*/
}

